
.recipe-age {
    font-size: 0.8em;
    color: #555;
}

#recipeCreatorWindow {
    top: 100px;
    left: 700px;
    width: 550px;
    height: auto;
}

.ingredient-process-list {
    margin-top: 15px;
    border-top: 1px solid #a0a18480;
}

.ingredient-process-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid #a0a18480;
    background-color: #ffffff1c;
}

.ingredient-process-item.not-available {
    color: #888;
    font-style: italic;
}

.ingredient-actions {
    display: flex;
    align-items: center;
}


.ingredient-actions .subtle {
    width: auto;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.ttl-display {
    font-size: 12px;
    color: #333;
    margin-left: 10px;
}

.recipe-actions-footer {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid #a0a18480;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-status span {
    margin-right: 20px;
    font-size: 14px;
}

.recipe-consume {
    display: flex;
    align-items: center;
}

.recipe-consume label {
    font-size: 14px;
}


.recipe-item {
    background-color: #ffffff4a;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd3;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-item:hover {
    background-color: #ffffff8c;
}

.recipe-name {
    font-weight: bold;
}

.recipe-age {
    font-size: 0.8em;
    color: #555;
}

#inventoryWindow {
    top: 150px;
    left: 100px;
    width: 450px;
    height: 600px;
    max-height: 90vh;
}


.inventory-list {
    margin-top: 15px;
    max-height: 500px;
}

.inventory-item {
    background-color: #ffffff1c;
    border: 1px solid #a0a18480;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 15px;
    overflow-y: auto;
    max-height: 200px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a0a18455;
    padding-bottom: 8px;
}

.item-header h3 {
    margin: 0;
}

.item-details {
    padding: 10px 0;
    font-size: 13px;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.item-details span {
    background-color: #e9e8d24d;
    padding: 3px 6px;
    border-radius: 4px;
}

.portions-list h4 {
    margin: 10px 0 5px 0;
    border-top: 1px solid #a0a18455;
    padding-top: 10px;
}

.portion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4px;
    border-bottom: 1px solid #a0a18433;
}

.portion-item:last-child {
    border-bottom: none;
}