.flow-line {
     fill: none;
     stroke: #9A96;
     stroke-dasharray: 10 10;
     stroke-dashoffset: 0;
     stroke-width: 10px;
     /* initial offset */
     cursor: crosshair;
     pointer-events: auto;
     animation: flowMove 2s linear infinite;
}

.flow-line.temporary {
     stroke: yellow;
     stroke-dasharray: 10 10;
}

.flow-line:not(.temporary):hover:not(.clicked-path) {
     stroke: yellow;
     animation: flowOscillate 2s ease-in-out infinite;
     stroke-dasharray: 100 5;
     stroke-width: 10px;
}

.flow-line.clicked-path {
     stroke: orange;
     animation: flowMove 15s linear infinite;
     stroke-dasharray: 100 5;
     stroke-width: 10px;
     z-index: 150;
}

.flow-line.clicked-path:hover {
     stroke: blue;
     animation: flowMove 15s linear infinite;
     stroke-dasharray: 100 5;
     stroke-width: 10px;
}

.flow-line.oscillating {
    
    stroke: #66ccff;
}

@keyframes flowOscillate {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: -180;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


@keyframes flowMove {
     to {
          stroke-dashoffset: -180;
          /* moves the dash along the path */
     }
}

.dragging-anchor,
.dragging-anchor * {
     cursor: crosshair !important;
     user-select: none;
     /* disable text selection while dragging */

}

.anchor-group {
     display: block ruby;
     height: 18px;
     top: -20px;
     position: fixed;

}

.anchor {

     width: 16px;
     height: 16px;
     pointer-events: auto;
     margin-right: 33%;
     margin-top: 30px;
}



.anchor:hover {
     background-color: #55ccff;
     border-radius: 50%;
     cursor: crosshair;
     color: white;
}

.flow-canvas {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     pointer-events: none;
     /* let mouse events pass through */
     z-index: 155;
     /* below windows but above other content */
}


.dragging-anchor {
     user-select: none;
}
