
/* Custom Template Dropdown - Scoped to avoid conflicts */
.search-Element-base-option span {
    float: right;
    margin-top: -5px;
}

.search-Element-dropdown-container {
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease;
}

.search-Element-dropdown-container.ct-opened {
    height: 500px;
    transition: height 0.2s ease;
}
.search-Element-base-image{
    max-width: 50px; max-height: 50px;
}

.search-Element-container{
    width:65%; float:left; margin-right:3%;
}

.search-Element-base-option {
    height: 23px;
    padding: 10px 10px;
    background: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ct-select {
    text-align: left;
    display: inline-block;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.search-Element-userinput-container {
    padding: 2px 30px;
    background: #e2ecffc4;
    border-bottom: 1px solid #ddd;
}

.search-Element-userinput-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 5px;
    font-size: 16px;
}

.search-Element-userinput-container input:focus {
    outline: none;
    border: 1px solid #4fa5ff;
    margin: 1px;
    box-shadow: 0 0 0 5px #afd6ff;
}

.search-Element-Dropdown-Items-Section {
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ct-item-count {
    padding: 15px 10px;
    background: #fafafa;
    border-top: 1px solid #ccc;
    float: right;
}

.ct-item section {
    float: right;
    margin-right: 15px;
    text-align: right;
    margin-top: 10px;
}

.search-Element-Dropdown-Items-Section>article {
    border-top: 1px solid lightgray;
    align-items: flex-start;
}

.search-Element-Dropdown-Items-Section>article:hover {
    background: #fcfcfc;
    cursor: pointer;
}

.search-Element-Dropdown-Items-Section>article:last-child {
    border-bottom: 1px solid #eee;
}

.ct-img {
    vertical-align: top;
    display: inline-block;
    width: 80px;
    padding: 12px 0 0 12px;
}


.ct-select::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.ct-select::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}



#search-Element-BarWrapper select {
    padding-left: 40px;
    /* leaves room for the thumbnail */
}