button.subtle {
    background-color: rgb(229 226 150 / 33%);
    color: rgb(82, 79, 79);

    cursor: pointer;
    margin: auto;
    width: 31%;
    margin-left: 1%;
}

input.input-minimized {
    padding: none;
    padding: 10px;
    margin: 0;
    margin-left: 10%;
    font-size: 24px;
    width: 60%;
}

span.span-align-bundle{
    padding-right:30%;
}

button:disabled,
button[disabled]{
    background-color: #777;
}